:root {
    --startLeft: 0px;
    --targetLeft: -2048px;
}

.layer {
position: absolute;
}

.background {
    height: 1546px;
    width: 100%;
    background-image: url("img/11_background.png");
    background-repeat: repeat-x;
}


.distantClouds {
    height: 1546px;
    width: 100%;
    background-image: url("img/10_distant_clouds.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: distantClouds-shift 100s linear infinite;
}

.distantClouds1 {
    height: 1546px;
    width: 100%;
    background-image: url("img/09_distant_clouds1.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: distantClouds1-shift 80s linear infinite;
}


.clouds {
    height: 1546px;
    width: 100%;
    background-image: url("img/08_clouds.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: clouds-shift 70s linear infinite;
}

.hugeClouds {
    height: 1546px;
    width: 100%;
    background-image: url("img/07_huge_clouds.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: hugeClouds-shift 40s linear infinite;
}

.hill2 {
    height: 1546px;
    width: 100%;
    background-image: url("img/06_hill2.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: hill2-shift 50s linear infinite;
}

.hill1 {
    height: 1546px;
    width: 100%;
    background-image: url("img/05_hill1.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: hill1-shift 40s linear infinite;
}

.bushes {
    height: 1546px;
    width: 100%;
    background-image: url("img/04_bushes.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: bushes-shift 30s linear infinite;
}

.distantTrees {
    height: 1546px;
    width: 100%;
    background-image: url("img/03_distant_trees.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: distantTrees-shift 25s linear infinite;
}

.tenb {
    height: 1546px;
    width: 100%;
    background-image: url("img/02_trees and bushes.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: tenb-shift 15s linear infinite;
}

.ground {
    height: 1546px;
    width: 100%;
    background-image: url("img/01_ground.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: ground-shift 5s linear infinite;
}


.gif {
    height: 1546px;
    width: 100%;
    background-image: url("img/character.gif");
    background-repeat: no-repeat;
    transform: translateY(1000px) translateX(400px);
}

.gif[direction=ArrowRight] {
    animation-direction: normal !important;
}

.gif[direction=ArrowLeft] {
    animation-direction: reverse !important;
}


/*@keyframes fly-cycle {
    100% {
        background-position: -900px 0;
    }
}*/
@keyframes distantClouds-shift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 2048px 0;
    }
}
@keyframes distantClouds1-shift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2048px 0;
    }
}
@keyframes clouds-shift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 2048px 0;
    }
}
@keyframes hugeClouds-shift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2048px 0;
    }
}
@keyframes hill1-shift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2048px 0;
    }
}
@keyframes hill2-shift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 2048px 0;
    }
}
@keyframes bushes-shift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2048px 0;
    }
}
@keyframes distantTrees-shift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2048px 0;
    }
}
@keyframes tenb-shift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2048px 0;
    }
}
@keyframes ground-shift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2048px 0;
    }
}


.bgNormal {
    animation-direction: normal !important;
}

.bgReverse {
    animation-direction: reverse !important;
}

@keyframes loader {
    from {
        background-position-x: var(--startLeft);
    }
    to {
        background-position-x: var(--targetLeft);
    }
}
