
/*.content {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    z-index: 12;
    position: fixed;
}*/

.layer {
position: absolute;
}

.background {
    height: 1546px;
    width: 100%;
    background-image: url("img/11_background.png");
    background-repeat: repeat-x;
}


.distantClouds {
    height: 1546px;
    width: 100%;
    background-image: url("img/10_distant_clouds.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: distantClouds 100s linear infinite;
}

.distantClouds1 {
    height: 1546px;
    width: 100%;
    background-image: url("img/09_distant_clouds1.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: distantClouds1 80s linear infinite;
}


.clouds {
    height: 1546px;
    width: 100%;
    background-image: url("img/08_clouds.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: clouds 70s linear infinite;
}

.hugeClouds {
    height: 1546px;
    width: 100%;
    background-image: url("img/07_huge_clouds.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: hugeClouds 40s linear infinite;
}

.hill2 {
    height: 1546px;
    width: 100%;
    background-image: url("img/06_hill2.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: hill2 50s linear infinite;
}

.hill1 {
    height: 1546px;
    width: 100%;
    background-image: url("img/05_hill1.png");
    background-repeat: repeat-x;
    transform: translateX(0);
    animation: hill1 40s linear infinite;
}

.bushes {
    height: 1546px;
    width: 100%;
    background-image: url("img/04_bushes.png");
    background-repeat: repeat-x;
    transform: translateX(0);
}

.distantTrees {
    height: 1546px;
    width: 100%;
    background-image: url("img/03_distant_trees.png");
    background-repeat: repeat-x;
    transform: translateX(0);
}

.tenb {
    height: 1546px;
    width: 100%;
    background-image: url("img/02_trees and bushes.png");
    background-repeat: repeat-x;
    transform: translateX(0);
}

.ground {
    height: 1546px;
    width: 100%;
    background-image: url("img/01_ground.png");
    background-repeat: repeat-x;
    transform: translateX(0);
}
